/build/
/.gradle/
/.idea/compiler.xml
/.idea/git_toolbox_prj.xml
/.idea/GitLink.xml
/Challenge/.idea/GitLink.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/vcs.xml
/Challenge/.idea/vcs.xml
/Challenge/.idea/workspace.xml
/.idea/.gitignore
/.idea/.name
